#head{
    background-color: #24292e;
}
#head div{
    color: #ffffff;
}
#nav{
    width: 100%;
    margin-top: 0px;
    /*height: 40px;*/
    background-color: #24292e;
}
.navbar {
    margin-bottom: 0px;
}
#search{
    position: relative;
    top: 14px;

}
a:focus,a:hover{
    color: #000000;
}
a{
    color: #000000;
}
.spin{
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}
@keyframes spin {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
