<meta charset="UTF-8">
<link rel="stylesheet" href="css/index-content.css">

<div id="content">
    <div id="hot_news" class="row">
        <div v-if="status===1">
            <!--轮播列-->
            <div class="col-lg-4 col-xs-12"  style="padding: 0">
                <!--- 轮播 --->
                <div id="myCarousel" class="carousel slide " data-ride="carousel" data-interval="3000" >
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li :class="(index==0?' active':'')" v-for="(news,index) in imgNews" data-target="#myCarousel" :data-slide-to="index"></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        <div :class="'item'+(index==0?' active':'')" v-for="(news,index) in imgNews">
                            <a :href="'/news/'+news.n_id">
                                <img class="img-responsive center-block" :src="news.n_pic" :alt="news.n_title">
                                <div class="carousel-caption carousel-title">{{news.n_title}}</div>
                            </a>
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!--新闻列-->
            <div class="news_col col-lg-6 col-xs-12" >
                <div class="visible-xs" style="height: 20px"></div>
                <a v-for="news in textNews" :href="'/news/'+news.n_id"><p>{{news.n_title}}</p></a>
            </div>
        </div>
        <div v-else-if="status===0">
            <div class="row center text-center">
                <i class="fa fa-spinner spin"></i>正在加载
            </div>
        </div>
        <div v-else-if="status===2">
            <div class="row center text-center">
                <i class="fa fa-exclamation-triangle"></i>加载失败
            </div>
        </div>
        <div id="app_col" class="visible-lg col-lg-2" >
            <img class="img-responsive" src="image/app.png">
            <p align="center">扫码下载手机App</p>
        </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div id="news_channel">

        <div v-for="channel in list">
            <div class="row channel_title">
                <p>{{channel.info.ch_name}}</p>
            </div>
            <div class="row channel_content">
                <div v-if="channel.status===1">
                    <div class="news_col col-lg-6">
                        <a  v-for="news in channel.news.textNews" :href="'/news/'+news.n_id"><p>{{news.n_title}}</p></a>
                    </div>
                    <div class="img_news_area visible-lg col-lg-6">
                        <div class="row">
                            <div class="col-lg-6" v-for="news in channel.news.imgNews">
                                <a :href="'/news/'+news.n_id">
                                    <img class="img-responsive" :src="news.n_pic">
                                    <p>{{news.n_title}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else-if="channel.status===0">
                    <div class="row center text-center">
                        <i class="fa fa-spinner spin"></i>正在加载
                    </div>
                </div>
                <div v-else-if="channel.status===2">
                    <div class="row center text-center">
                        <i class="fa fa-exclamation-triangle"></i>加载失败
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<script>
    var hot=new Vue({
        el:'#hot_news',
        data:{
            status:-1,
            imgNews:[],
            textNews:[]
        }
    });
    var news=new Vue({
        el:'#news_channel',
        data:{
            //-1未加载,0加载中,1加载完成,2加载失败
            status:-1,
            list:[{
                status:-1,
                info:{
                    ch_id:-1,
                    ch_code:'error',
                    ch_name:'无法连接到服务器',
                    ch_priority:999
                },
                news:{
                    imgNews:[],
                    textNews:[]
                }
            }]
        }
    });
    $(function () {
        $('.img_news_area * img').addClass("img-responsive");
        $('.img_news_area').addClass("visible-lg");
    })
    $(document).ready(function () {
        $.ajax({
            url:backSideURL+"api/index/hot",
            method:"POST",
            dataType:"json",
            xhrFields:{
                withCredentials:true
            },
            success:successHot,
            beforeSend:function (xml) {
                hot.status=0;
            },
            error:function (xml,str,err) {
                hot.status=2;
            }
        });
        addChannelListListener(channelListListener);
    });
    function channelListListener(data) {
        news.list=[];
        for (x in data){
            var l=news.list.push({status:-1,info:data[x],news:{textNews:[],imgNews:[]}});
            $.ajax({
                n_index:l-1,
                url:backSideURL+"api/index/channelNews",
                method:"POST",
                dataType:"json",
                contentType:"application/json; charset=UTF-8",
                data:'{"channelId":'+data[x].ch_id+'}',
                xhrFields:{
                    withCredentials:true
                },
                success:successChannel,
                beforeSend:function (xml) {
                    news.list[this.n_index].status=0;
                },
                error:function (xml,str,err) {
                    news.list[this.n_index].status=2;
                }
            });
        }
        // $('.channel_title:first').remove();
        // $('.channel_content:first').remove();
    }
    function successChannel(data) {
        var json=eval(data);
        if(json.code===100) {
            var imgNews=json.object.imgNews;
            var textNews=json.object.textNews;
            var channelId=json.object.channelId;
            for(x in news.list){
                if(channelId==news.list[x].info.ch_id){
                    news.list[x].news.textNews=textNews;
                    news.list[x].news.imgNews=imgNews;
                    news.list[x].status=1;
                    break;
                }
            }
        }else{
            debugger;
            news.list[x].status=2;
        }
    }
    function successHot(data) {
        var json=eval(data);
        if(json.code===100) {
            var imgNews=json.object.imgNews;
            var textNews=json.object.textNews;
            hot.textNews=textNews;
            hot.imgNews=imgNews;
            hot.status=1;
        }else{
            hot.status=2;
        }
    }
</script>